<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801518445583-sel1bujb4u8038qn76jfn3okggp65ir1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801518445583-sel1bujb4u8038qn76jfn3okggp65ir1</string>
	<key>API_KEY</key>
	<string>AIzaSyC1kb5JS5bBuXRndCC00UWJS7bLOJ1JI34</string>
	<key>GCM_SENDER_ID</key>
	<string>801518445583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsDoFunnyStuff</string>
	<key>PROJECT_ID</key>
	<string>lets-do-funny-stuff</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-do-funny-stuff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801518445583:ios:45f6da34d73d7c09cd2f7a</string>
</dict>
</plist>